@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
body{
    background: -webkit-linear-gradient(right, #a33838, black);
    /* background: rgb(46, 46, 15); */
}
.padding-0{
    padding-right:0;
    padding-left:0;
}
.padding-5{
    padding-right:5px;
    padding-left:5px;
}
ul li img{
    width: 60px;
     height: 60px;
     object-fit: cover;
     border-radius: 50%;
     margin: 30px 0 0 0;
}
ul{
    list-style: none;
    clear: left;
    margin: -20px 0 0 -30px;
}
ul li{
   
    font-size: 20px;
}
ul h6{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    margin: -40px 0 0 70px;
    color: red;
}
h3{
    padding: 10px 0 10px 0;
    background: white;
    font-size: 30px; 
    margin-top: -86px;
    color: red; opacity: 0.9;
    border-left: 7px solid rgb(0,100,0);
    font-family: centaur; 
    text-transform: uppercase;
    height: 86px;
    text-align: center;
    align-items: center;
    align-content: center;
}
h5{
    background: red;
    color: white;
    float: right;
    margin-top: 35px;
    padding: 5px 0 5px 5px;
    font-size: 20px;
}
h4{
    background: rgb(0,100,0);
    width: 20%;
    padding: 5px 0 5px 5px;
    margin: 0;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1{
    color: rgb(8, 8, 8);
    text-align: center;
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.center{
    height: 400px;
    background: -webkit-linear-gradient(right, rgb(148, 145, 145), white);
}








.footer{
	width: 100%;
	/* background: -webkit-linear-gradient(left, black, rgb(0,100,0), black); */
	background: #222;
	color: white;
	margin: auto;
}
.main-content{
	display: flex;
}
.main-content .box{
	flex-basis: 50%;
	padding: 10px 20px;
}
.box h2{
	font-size: 1.125rem;
	font-weight: 600;
	text-transform: uppercase;
}
.box .content{
	margin: 20px 0 0 0;
	position: relative;
}
.box .content:before{
	position: absolute;
	content: '';
	top: -10px;
	height: 2px;
	width: 100%;
	background: #1a1a1a;
}
.box .content:after{
	position: absolute;
	content: '';
	height: 2px;
	width: 15%;
	background:rgb(0,100,0);
	top: -10px;
}
.left .content p{
	text-align: justify;
}
.left .content .social{
	margin: 20px 0 0 0;
}
.left .content .social a{
	padding: 0 2px;
}
.left .content .social a span{
	height: 40px;
	width: 40px;
	background: #1a1a1a;
	line-height: 40px;
	text-align: center;
	font-size: 18px;
	border-radius: 5px; 
	transition: 0.3s;
}
.left .content .social a:hover{
	background: none;
}
.left .content .social a span:hover{
	background: rgb(0,100,0);
}

.right form .text{
	font-size: 20px;
	font-family: centaur;
	margin-bottom: 2px;
	color: #656565;
}
.right form .msg{
	margin-top: 10px;
}
.right form input, .right form textarea{
	width: 100%;
	font-size: 20px;
	font-family: centaur;
	background: #151515;
	padding-left: 10px;
	border: 1px solid #222222;
}
.right form input:focus, .right form textarea:focus{
	outline-color: #3498db;
}
.right form input{
	height: 35px;
}
.right form .btn{
	margin-top: 10px;
}
.right form .btn button{
	height: 40px;
	width: 100%;
	border: none;
	outline: none;
	background: #333;
	font-size: 20px;
	font-weight: 500;
	cursor: pointer;
	transition: .3s;
}
.right form .btn button:hover{
	background: rgb(0,100,0);
}
.bottom center{
	padding: 5px;
	background: #151515;
}
.bottom center span{
	color: #656565;
}
.bottom center a{
	color: #f12020;
	text-decoration: none;
}
.bottom center a:hover{
	 text-decoration: underline;
}
@media screen and (max-width: 900px){
	 .footer{
	 	position: relative;
	 	bottom: 0px;
	 }
	 .main-content{
	 	flex-wrap: wrap;
	 	flex-direction: column;
	 }
	 .main-content .box{
	 	margin: 5px 0;
	 }
}



li{
    list-style: none;
    
}
table li a{
    text-decoration: none;
    color: black;
}
table{
    background: white;
}




.max-width{
	max-width: 1300px;
	margin: auto;
	padding: 0 80px;
}
.navbar{
    width: 100%;
    z-index: 999;
    position: fixed;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3 ease;
}
.navbar.sticky{
   padding: 15px 0 5px 0;
   /* background: -webkit-linear-gradient(left, black, rgb(0,100,0), black); */
   background: #222;
}
.navbar .max-width{
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.navbar .logo a{
   font-size: 35px;
   font-weight: 600;
   color: #ffffff;
}
.navbar .logo a span{
   color: rgb(0,100,0);
   transition: all 0.3 ease;
}
.navbar.sticky .logo a span{
   color: #ffffff;
}
.navbar .menu li{
   list-style: none;
   display: inline-block;
}
.navbar .menu li a{
   display: block;
   color: #ffffff;
   font-size: 18px;
   font-weight: 500;
   margin-left: 25px;
   transition: color 0.3 ease;
}
.navbar .menu li a:hover{
   color: crimson;
}
.navbar.sticky .menu li a:hover{
   color: #ffffff;
}

.menu-btn{
   color: #ffffff;
   font-size: 23px;
   cursor: pointer;
   display: none;
}
.scroll-up-btn{
	position: fixed;
	height: 45px;
	width: 42px;
	background: rgb(0,100,0);
	right: 30px;
	bottom: 30px;
	text-align: center;
	line-height: 45px;
	color: white;
	z-index: 9999;
	font-size: 30px;
	border-radius: 6px;
	cursor: pointer;
	opacity: 0;
	pointer-events: none;
	transition: all 0.3s ease;
}
.scroll-up-btn.show{
	opacity: 1;
	pointer-events: auto;
	bottom: 30px;
}

@media (max-width: 947px){
	
	.menu-btn{
	display: block;
	z-index: 999;
	}
	.menu-btn i.active:before{
		content: "\f00d";
	}
	.navbar .menu{
		position: fixed;
		background: #111;
		height: 100vh;
		width: 100%;
		left: -100%;
		top: 0;
		text-align: center;
		padding-top: 80px;
		transition: all 0.7s ease;
	}
	.navbar .menu.active{
		left: 0;
	}
	.navbar .menu li{
		display: block; 
	}
	.navbar .menu li a{
		display: inline-block; 
		margin: 20px 0;
		font-size: 25px;
	}
}




@media (max-width: 1200px){
    h4{
        width: 30%;
        padding: 5px 0 5px 5px;
        margin: 0;
    }
}

@media (max-width: 992px){
    ul h6{
        font-size: 18px;
    }
    .wrapper{
        margin: 0 0 50px 0;
    }
    h4{
        width: 30%;
        padding: 5px 0 5px 5px;
        margin: 0;
    }
    h3{
        font-size: 20px;
    }
}

@media (max-width: 690px){
    h4{
        background: rgb(0,100,0);
        width: 50%;
        padding: 5px 0 5px 5px;
        margin: 0;
        }
    h5{
        float: right;
        margin-top: 35px;
        padding: 5px 0 5px 5px;
        font-size: 20px;
        width: 100%;
        text-align: center;
        }
    ul h6{
        font-size: 20px;
        }
    
    .left{
        width: 100%;
        align-items: center;
        align-content: center;
        }
    .wrapper{
        margin: 0 0 50px 0;
        }
    
}



li a:hover{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
h5:hover{
    background: #222;
}